<html>
    <head>
    </head>
    <body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1>Counter</h1>
        <span><%= counter %> times</span>
        <br>
        <a href="/"><button>+1</button></a>
        <br>
        <a href="/2"><button>+2</button></a>
        <br>
        <a href="/reset"><button>Reset</button></a>
    </body>
</html>